<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <!-- Just an image -->
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="assets/img/banner-ico.png" width="30" height="30" alt="">
        </a>
        SpotyApp
    </nav>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="home">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="search">Buscar</a>
            </li>

        </ul>
    </div>
</nav>